@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    box-sizing: border-box;
    background-color: #fff;
    padding: 1rem 0 2rem 0;
    border-radius: 4px;
    width: 95%;
    height: 100vh;
    margin: 0 auto;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.btnAscDec {
    margin: 0 5px;
    border: none;
    background-color: #555555;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.active {
    background-color: #4CAF50;
}


.boxes {
    display: flex;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.input-box, .output-box{
    display: flex;
    width: 45%;
}

.input-text, .output-text {
    padding: 13px 15px;
    border-radius: 8px;
    border: 2px solid #1a73e8;
    outline: 0;
    width: 100%;
    font-size: 16px;
    resize: none;
}




@media screen and (max-width: 400px) {

    .container {
        width: 100%;
    }

    .boxes {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .buttons {
        flex-direction: column;
        align-items: center;
        height: 6rem;

    }

    .btnAscDec {
        margin: 5px 2px;
        padding: 3px 18px;
    }

    .input-box {
        height: 45%;
        width: 80%;
    }

    .output-box {
        height: 45%;
        width: 80%;
    }

}
